<!DOCTYPE html>
<html>
  <head>
    <title>School Tasks Manager</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Schibsted+Grotesk">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rowdies">
  </head>
  <body>
    <div class="container">
      <header>
        <h1> &#x1F4DD;School Tasks Manager</h1>
        <nav>
          <a href="{{url_for('home')}}"><button class="button">Home</button></a>
          <a href="{{url_for('add')}}"><button class="button">Add a Task</button></a>
          <a href="{{url_for('search')}}"><button class="button">Search Tasks</button></a>
        </nav>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          &copy; 2024. Shared under the GPL3 license. Source code available at
          <a
            href="https://github.com/software-students-spring2024/2-web-app-exercise-teamdnjz.git"
            >available on Github</a
          >.
        </p>
      </footer>
    </div>
  </body>
</html>