{% extends 'base.html' %} 

{% block container %}
    <h1>My Tasks &#128203;</h1>
    <form action="/home" method="GET" class="sort">
      <button class="button" type="submit" name="sort_by" value="title">Sort by Title</button>
      <button class="button" type="submit" name="sort_by" value="course">Sort by Course</button>
      <button class="button" type="submit" name="sort_by" value="date">Sort by Due Date</button>
    </form>
    <div class = "task-container">
    {% for task in tasks %}
            <div class = "tasks" id="task-{{ task._id }}">
              <div class="task-checkbox">
                <input type="checkbox" id="task-{{ task._id }}-checkbox" class="checkbox" name="task-checkbox" {% if task.completed %}checked{% endif %} onchange="updateTaskStatus('{{ task._id }}')">
                <label for="task-{{ task._id }}-checkbox"></label>
              </div>
              {% if (task.date - now).days <= 7 %}
                <label for="task-{{ task._id }}-checkbox" class="task-title {% if task.completed %}completed{% endif %}" style="color: red;">{{ task.title }}</label>
                <p class="styled-input">Course: {{ task.course }}</p>
                <p class="styled-input">Due Date: {{ task.date.strftime('%Y-%m-%d') }}</p>
                {% if (task.date - now).days == 0 %}
                  <p class="dates" >Due in {{ (task.date - now).days + 1 }} day!!!!</p>
                {% elif (task.date - now).days < 0 %}
                  <p class="dates" >Deadline passed!!!!</p>
                {% else %}
                  <p class="dates" >Due in {{ (task.date - now).days + 1 }} days!!!!</p>
                {% endif %}
              {% else %}
              <label for="task-{{ task._id }}-checkbox" class="task-title {% if task.completed %}completed{% endif %}"> {{ task.title }}</label>
              <p class="styled-input">Course: {{ task.course }}</p>
              <p class="styled-input">Due Date: {{ task.date.strftime('%Y-%m-%d') }}</p>
              {% endif %}
          
           

              <div class="button-group">
                <a href="{{url_for('edit', task_id=task._id, user_id=user._id)}}"><button class="button">Edit</button></a>
                <a href="{{url_for('delete', task_id=task._id, user_id=user._id)}}"><button class="button">Delete</button></a>
              </div>
            </div>
            <script>
              function updateTaskStatus(taskId) {
                  var checkbox = document.getElementById('task-' + taskId + '-checkbox');
                  var taskTitle = document.getElementById('task-' + taskId);
      
                  if (checkbox.checked) {
                      taskTitle.classList.add('completed');
                  } else {
                      taskTitle.classList.remove('completed');
                  }
              }
            </script>

    {% endfor %}
    </div>

{% endblock %}

<!-- <!DOCTYPE html>
<html>
<head>
  <title>My Tasks</title>
  <link href="../static/styles/index.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
</head>
<body>
  <h1>My Tasks &#128203;</h1>
  <form action="/home" method="GET" class="sort">
    <button class="button" type="submit" name="sort_by" value="title">Sort by Title</button>
    <button class="button" type="submit" name="sort_by" value="course">Sort by Course</button>
    <button class="button" type="submit" name="sort_by" value="date">Sort by Due Date</button>
  </form>
  <div class="task-container">
    {% for task in tasks %}
    <div class="tasks" id="task-{{ task._id }}">
      <div class="task-checkbox">
        <input type="checkbox" id="task-{{ task._id }}-checkbox" class="checkbox" name="task-checkbox" {% if task.completed %}checked{% endif %} onchange="updateTaskStatus('{{ task._id }}')">
        <label for="task-{{ task._id }}-checkbox"></label>
      </div>
      {% if (task.date - now).days <= 7 %}
        <label for="task-{{ task._id }}-checkbox" class="task-title {% if task.completed %}completed{% endif %}" style="color: red;">{{ task.title }}</label>
        <p class="styled-input">Course: {{ task.course }}</p>
        <p class="styled-input">Due Date: {{ task.date.strftime('%Y-%m-%d') }}</p>
        {% if (task.date - now).days == 0 %}
          <p class="dates" >Due in {{ (task.date - now).days + 1 }} day!!!!</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <script>
    function updateTaskStatus(taskId) {
      var checkbox = document.getElementById('task-' + taskId + '-checkbox');
      var taskTitle = document.getElementById('task-' + taskId);

      if (checkbox.checked) {
        taskTitle.classList.add('completed');
      } else {
        taskTitle.classList.remove('completed');
      }
    }
  </script>
</body>
</html>
-->

