{% extends 'base.html' %} 

{% block container %}
    <h1>My Tasks &#128203;</h1>
    <form action="/home" method="GET" class="sort">
      <button class="button" type="submit" name="sort_by" value="title">Sort by Title</button>
      <button class="button" type="submit" name="sort_by" value="course">Sort by Course</button>
      <button class="button" type="submit" name="sort_by" value="date">Sort by Due Date</button>
    </form>
    {% for task in tasks %}
            <div class = input-container>
              <p class="styled-input">Title: {{ task.title }}</p>
              <p class="styled-input">Course: {{ task.course }}</p>
              <p class="styled-input">Due Date: {{ task.date.strftime('%Y-%m-%d') }}</p>
              {% if (task.date - now).days <= 7 %}
                  {% if (task.date - now).days == 0 %}
                      <p class="dates" >Due Today</p>
                  {% elif (task.date - now).days == 1 %}
                      <p class="dates" >Due Tomorrow</p>
                  {% else %}
                      <p class="dates" >Due in {{ (task.date - now).days }} days</p>
                  {% endif %}
              {% endif %}
           

              <div class="button-group">
                <a href="{{url_for('edit', task_id=task._id, user_id=user._id)}}"><button class="button">Edit</button></a>
                <a href="{{url_for('delete', task_id=task._id, user_id=user._id)}}"><button class="button">Delete</button></a>
              </div>
            </div>
    {% endfor %}
{% endblock %}