<!DOCTYPE html>
<html>
  <head>
    <title>School Tasks Manager</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Schibsted+Grotesk">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rowdies">
  </head>
  <body>
    <div class="container">
      <header>
        <h1> &#x1F4DD; School Tasks Manager</h1>
      </header>
      <main>
        <h1>Register</h1>
        <form class = "input-container" method="POST" action="{{ url_for('register')}}"> 
            <label for="username" class =  "styled-input">Username: </label>
            <input type="text" id="username" name="username" placeholder="enter your username" class="add-input"/>
            <br />
            <label for="username" class =  "styled-input">Password: </label>
            <input type="text" id="password" name="password"  placeholder="enter your password" class="add-input"/>
            <br />
            <input type="submit" value="Register" class = "button" />
        </form>
      </main>
      <footer>
        <p>
          &copy; 2024. Shared under the GPL3 license. Source code available at
          <a
            href="https://github.com/software-students-spring2024/2-web-app-exercise-teamdnjz.git"
            >available on Github</a
          >.
        </p>
      </footer>
    </div>
  </body>
</html>