<!DOCTYPE html>
<html>
  <head>
    <title> &#x1F4DD; School Tasks Manager</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1> &#x1F4DD;School Tasks Manager</h1>
      </header>
      <main>
        <h1>Welcome Back to School Tasks Manager</h1>
        <a href="/register"><button class = button>Register</button></a>
        <a href="/login"><button class = button>Login</button></a>
      </main>
      <footer>
        <p>
          &copy; 2024. Shared under the GPL3 license. Source code available at
          <a
            href="https://github.com/software-students-spring2024/2-web-app-exercise-teamdnjz.git"
            >available on Github</a
          >.
        </p>
      </footer>
    </div>
  </body>
</html>